.letsbe {
    position: relative;
    width: 825px;
    height: 400px;
    margin-left: 15px;
}  
    .letsbe .letsbe-img {
        position: relative;
    } 
    .letsbe h2 {
        position: absolute;
        left: 60px;
        top: 90px; 
        color: var(--color-dark-light);
    }
        .letsbe h2 span {
            display: block;
        }
    .letsbe .btn-white {
        position: absolute;
        left: 60px;
        top: 240px;
    }
        .letsbe .btn-white .corner-top-left {
            border-left: 2px solid var(--color-light-dark);
            border-top: 2px solid var(--color-light-dark);
        }
        .letsbe .btn-white .corner-bottom-right {
            border-right: 2px solid var(--color-light-dark);
            border-bottom: 2px solid var(--color-light-dark);
        }