@import '../components/_navbarCateg.css';
@import '../components/_navbarShop.css';

@media (min-width: 1600px) {
    .__navbar {
        position: fixed;
        display: flex;
        align-items: center;
        height: 100px;
        width: 100%;
    }
    
        .__navbar .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1680px;
        }
        
    .active {
        color: var(--color-red-hover);
        text-decoration: underline;
    }  
}
