.showcase {
    padding-top: 100px;
}
    .showcase .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1680px;

    }
        .showcase .container .right-img {
            margin-right: -120px;
        }
        .showcase .container .left-img {
            margin-left: -120px;
        }

        .showcase .container .showcase-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: var(--font-poppins);
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-regular);

        }
            .showcase .container .showcase-text p {
                padding: 15px 0;
            }

            .showcase .container .showcase-text h1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }