@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-white:           #FFFFFF;
    --color-gray-0:          #F5F5F5;
    --color-gray-1:          #E6E6E6;
    --color-gray-1-5:        #BBBBBB;
    --color-gray-2:          #BEBEBE;
    --color-gray-3:          #616365;
    --color-light-dark:      #222529; 
    --color-dark:            #23262A;
    --color-dark-shadow:     rgba(0, 0, 0, 0.06);
    --color-red:             #FF7373;
    --color-red-hover:       #ff0000;

    --font-poppins:         'poppins', 'sans-serif';
    
    --font-weight-regular:   400;
    --font-weight-medium:    500;
    --font-weight-semibold:  600;
    --font-weight-bold:      700;
    --font-weight-extrabold: 800;
    
    --font-size-13:          13px;
    --font-size-14:          14px;
    --font-size-16:          16px;
    --font-size-18:          18px;
    --font-size-20:          20px;
    --font-size-45:          45px;
    --font-size-65:          65px;

    --max-width:             1680px;
}

html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-regular);
    color: var(--color-light-dark);
}

.gradient-gray {
    background: var(--color-gray-1);
    background: linear-gradient(90deg, var(--color-gray-1) 0%, var(--color-gray-0) 100%);
}

/* Knapparna */
.btn-red {
    position: relative;
    background-color: var(--color-red);
    color: var(--color-white);
    font-family: var(--font-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    padding: 24px 65px;
    border: none;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

    .btn-red:hover {
        background-color: var(--color-red-hover)
    }

.btn-black {
    position: relative;
    background-color: var(--color-dark);
    color: var(--color-white);
    font-family: var(--font-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    padding: 24px 65px;
    border: none;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

    .btn-black:hover {
        background-color: var(--color-red-hover)
    }

.btn-white {
    position: relative;
    background-color: var(--color-white);
    color: var(--color-light-dark);
    font-family: var(--font-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    padding: 24px 65px;
    border: none;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

    .btn-white:hover {
        background-color: var(--color-red-hover)
    }

.corner-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    border-left: 2px solid var(--color-white);
    border-top: 2px solid var(--color-white);
}

.corner-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    border-right: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white); 
}

h1 {
    font-family: var(--font-poppins);
    font-size: var(--font-size-65);
    font-weight: var(--font-weight-extrabold);
}

h2 {
    position: relative;
    font-family: var(--font-poppins);
    font-size: var(--font-size-45);
    font-weight: var(--font-weight-bold);
}


h4 {
    font-family: var(--font-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold); 
}


.active {
    color: var(--color-red);
    text-decoration: none;
}
    .active:hover {
        color: var(--color-red-hover);
        text-decoration: underline;
    }

a {
    color: var(--color-light-dark);
}
i {
    color: var(--color-light-dark);
}